<div class="audio-view">
  <!--button add new-->
  <div class="pull-right">
    <div class="btn-audio-add">
      <button type="button" class="btn btn-primary" ng-click="a.addAction()">Add New</button>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>File</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="audio in a.audios">
        <td>{{ audio.title }}</td>
        <td>Doe</td>
        <td>
          <div class="btn-group">
            <button type="button" ng-click="a.editAction(audio)" class="btn btn-default">Edit</button>
            <button type="button" ng-click="a.deleteAction(audio)" class="btn btn-danger">Delete</button>
            <button type="button" ng-click="a.lyricsAction(audio)" class="btn btn-info">Lyrics</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!--pagination-->
  <div class="pull-right">
    <ul class="pagination">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
  </div>
</div>