<div class="audio-action">
  <form role="form">
    <div my-audio config="a.myConfig" value="a.audio"></div>
    <button ng-disabled="a.inPlay === true" class="btn btn-info" ng-click="a.myConfig.play(); a.inPlay = true;">Play</button>
    <button ng-disabled="a.inPlay === false" class="btn btn-default"  ng-click="a.myConfig.pause(); a.inPlay = false">Pause</button>
    <button ng-disabled="a.inPlay === false" class="btn btn-danger"  ng-click="a.myConfig.stop(); a.inPlay = false">Stop</button>

    <div my-lyrics lyrics="a.audio.lyric" config="a.lyricsConfig"></div>

    <!--<div class="form-group">-->
      <!--<label for="content">Content</label>-->
      <!--<textarea class="form-control" ng-model="a.myData.content" type="text" id="content"></textarea>-->
      <!--<a class="btn btn-info" ng-click="a.createContent()">Create</a>-->
    <!--</div>-->

    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="a.updateLyricsAction()">Update</button>
      <button type="button" class="btn btn-default" ng-click="a.cancelAction()">Cancel</button>
    </div>

  </form>
</div>