<div class="audio-action">
  <form role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="file">File</label>
      <input type="file" class="form-control" id="file">
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="a.createAction()">Create</button>
      <button type="button" class="btn btn-default" ng-click="a.cancelAction()">Cancel</button>
    </div>

  </form>
</div>