<div class="audio-action">
  <form role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" ng-model="a.audio.title" class="form-control" id="title">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <textarea  ng-model="a.audio.description" name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="file">File</label>
      <img ngf-thumbnail="a.audio.file" class="thumb">
      <input type="file" class="form-control" id="file" ngf-select ng-model="a.audio.file">
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="a.createAction()">Create</button>
      <button type="button" class="btn btn-default" ng-click="a.cancelAction()">Cancel</button>
    </div>

  </form>
</div>