<!DOCTYPE html>
<html>
<head>
  <title>Let 's listen</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="frontend" ng-app="engApp">

<%= yield %>

</body>
</html>
